{layout '../logged_in.latte'}

{block content}
<div class="container">
	<div class="row">
	{foreach $categories as $category}
		<a href="{plink Products:category, $category->name}">{$category->name}</a><br />
	{/foreach}
	</div>
</div>
{/block}