{block content}
<div class="container">
	<div class="row">
		<h1 n:block="title">Kategorie</h1>
		<a class="btn btn-default" href="{plink Categories:add}">Přidat kategorii</a>
	</div>
	<div class="row">
		<ul class="list-group">
		{foreach $categories as $category}
			<li class="list-group-item"><a href="{plink Products:categories, $category->name}">{$category->name}</a></li>
		{/foreach}
		</ul>
	{foreach $products as $product}
		<div class="product">
			<img src="{$basePath}/images/products/{$product->id . 'n.' . $product->img_ext}" /><br />
			<a n:href='Products:product, $product->id'>{$product->name}</a>
			<div class="description">
				{$product->description}
			</div>
			{$product->price |number:2:',':' '}
		</div>
	{/foreach}
	</div>
</div>
{/block}