{* Latte template *}

{block header}
                        <li class="active"><a href="{plink Products:}">Produkty</a></li>
                        <li><a href="{plink Sign:out}">Odhlásit</a></li>
{/block}      
{block content}
        <div class="row">

        </div>
{/block}