{block content}
<div class="container">
	<h1 n:block="title" class="productName">{$product->name} úprava</h1>
	<div class="row">
		<div class="col-md-6">
			*Aktuální obrázek, pokud nevyberete nový, nezmění se<br />
			<img src="{$basePath}/images/products/{$product->id}.{$product->img_ext}" title="aktuální obrázek"/>
		</div>
		<div class="col-md-6">
			{control productForm}
		</div>
	</div>
</div>
{/block}