{block header}
<li><a href="{plink Homepage:}">Domů</a></li>
<li><a href="{plink Sign:in}">Přihlásit</a></li>
<li class="active"><a href="{plink Register:}">Registrovat</a></li>
{/block}

{block content}
<div class="container">
	<div class="row">
		<h2>Registrovat</h2>
		{control registerForm}
	</div>
</div>
{/block}
