{block content}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h2 n:block="title">Registrovat</h2>
		</div>
		<div class="container">
		{control registerForm}
		</div>
	</div>
</div>
{/block}
