{block content}
<div class="container">
	<h1 n:block="title" class="hidden-xs">{if $presenter->getParameter('letter') != NULL} Uživatelé jejichž příjmení začíná na {$presenter->getParameter('letter')}{else}Všichni uživatelé{/if}</h1>
	{if $user->isInRole('manager')}
	<div class="row">
		<a class="btn btn-default col-xs-12" href="{plink People:add}" style="margin-bottom: 10px;">Přidat zaměstnance</a>
	</div>
	{/if}
	<div class="row">
		<div style="text-align:center">
		<div class="container">
			<div class="btn-toolbar" >
				<div class="btn-group btn-group-sm" style="float: none; margin-left: auto; margin-right: auto;">
					<a n:href="People:default" n:class="$presenter->getParameter('letter') == NULL ? active, btn, btn-default">VŠICHNI</a>
					<a n:href="People:default 1, 'A'" n:class="$presenter->getParameter('letter') == 'A' ? active, btn, btn-default">A</a>
					<a n:href="People:default 1, 'B'" n:class="$presenter->getParameter('letter') == 'B' ? active, btn, btn-default">B</a>
					<a n:href="People:default 1, 'C'" n:class="$presenter->getParameter('letter') == 'C' ? active, btn, btn-default">C</a>
					<a n:href="People:default 1, 'D'" n:class="$presenter->getParameter('letter') == 'D' ? active, btn, btn-default">D</a>
					<a n:href="People:default 1, 'E'" n:class="$presenter->getParameter('letter') == 'E' ? active, btn, btn-default">E</a>
					<a n:href="People:default 1, 'F'" n:class="$presenter->getParameter('letter') == 'F' ? active, btn, btn-default">F</a>
					<a n:href="People:default 1, 'G'" n:class="$presenter->getParameter('letter') == 'G' ? active, btn, btn-default">G</a>
					<a n:href="People:default 1, 'H'" n:class="$presenter->getParameter('letter') == 'H' ? active, btn, btn-default">H</a>
					<a n:href="People:default 1, 'CH'" n:class="$presenter->getParameter('letter') == 'CH' ? active, btn, btn-default">CH</a>
					<a n:href="People:default 1, 'I'" n:class="$presenter->getParameter('letter') == 'J' ? active, btn, btn-default">I</a>
					<a n:href="People:default 1, 'J'" n:class="$presenter->getParameter('letter') == 'L' ? active, btn, btn-default">J</a>
					<a n:href="People:default 1, 'K'" n:class="$presenter->getParameter('letter') == 'K' ? active, btn, btn-default">K</a>
					<a n:href="People:default 1, 'L'" n:class="$presenter->getParameter('letter') == 'L' ? active, btn, btn-default">L</a>
					<a n:href="People:default 1, 'M'" n:class="$presenter->getParameter('letter') == 'M' ? active, btn, btn-default">M</a>
					<a n:href="People:default 1, 'N'" n:class="$presenter->getParameter('letter') == 'N' ? active, btn, btn-default">N</a>
					<a n:href="People:default 1, 'O'" n:class="$presenter->getParameter('letter') == 'O' ? active, btn, btn-default">O</a>
					<a n:href="People:default 1, 'P'" n:class="$presenter->getParameter('letter') == 'P' ? active, btn, btn-default">P</a>
					<a n:href="People:default 1, 'Q'" n:class="$presenter->getParameter('letter') == 'Q' ? active, btn, btn-default">Q</a>
					<a n:href="People:default 1, 'R'" n:class="$presenter->getParameter('letter') == 'R' ? active, btn, btn-default">R</a>
					<a n:href="People:default 1, 'S'" n:class="$presenter->getParameter('letter') == 'S' ? active, btn, btn-default">S</a>
					<a n:href="People:default 1, 'T'" n:class="$presenter->getParameter('letter') == 'T' ? active, btn, btn-default">T</a>
					<a n:href="People:default 1, 'U'" n:class="$presenter->getParameter('letter') == 'U' ? active, btn, btn-default">U</a>
					<a n:href="People:default 1, 'V'" n:class="$presenter->getParameter('letter') == 'V' ? active, btn, btn-default">V</a>
					<a n:href="People:default 1, 'W'" n:class="$presenter->getParameter('letter') == 'W' ? active, btn, btn-default">W</a>
					<a n:href="People:default 1, 'X'" n:class="$presenter->getParameter('letter') == 'X' ? active, btn, btn-default">X</a>
					<a n:href="People:default 1, 'Y'" n:class="$presenter->getParameter('letter') == 'Y' ? active, btn, btn-default">Y</a>
					<a n:href="People:default 1, 'Z'" n:class="$presenter->getParameter('letter') == 'Z' ? active, btn, btn-default">Z</a>
				</div>
			</div>
		</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>Příjmení</th>
				<th>Jméno</th>
				<th>Email</th>
				<th>Pohlaví</th>
				<th>Registrován</th>
				<th>Ratio</th>
				<th>Detail</th>
			<tr>
			</thead>
			<tbody>
				{foreach $allUsers as $user}
					<tr>
						<td>{$user->surname}</td>
						<td>{$user->name}</td>
						<td>{$user->email}</td>
						<td>{$user->gender ? 'muž' : 'žena'}</td>
						<td>{$user->registered|date:'j.n.Y'}</td>
						<td>{if $user->picked > 0 || $user->left > 0}{$user->picked / ($user->picked + $user->left) |number:2:',':' '}{else}1{/if}</td>
						<td><a n:href="People:detail $user->id">Detail</a></td>
					</tr>
				{/foreach}
			</tbody>
		</table>
		<nav style="text-align:center;">
			<ul class="pagination">
				{if !$presenter->getParameter('id') == NULL}
				<li>
					<a n:href="People:default ($presenter->getParameter('id') - 1), $presenter->getParameter('letter') != NULL ? $presenter->getParameter('letter')" aria-label="Předchozí">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{/if}
				{for $i = 1; $i <= $paginator->getLastPage(); $i++}
					<li n:class="$presenter->getParameter('id') == $i ? active, $presenter->getParameter('id') == NULL && $i == 1 ? active"><a n:href="People:default $i, $presenter->getParameter('letter') != NULL ? $presenter->getParameter('letter')">{$i}</a></li>
				{/for}
				{if !($presenter->getParameter('id') == $paginator->getLastPage())}
				<li>
					<a n:href="People:default ($presenter->getParameter('id') != NULL ? ($presenter->getParameter('id') + 1) : 2), $presenter->getParameter('letter') != NULL ? $presenter->getParameter('letter')" aria-label="Další">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{/if}
			</ul>
		</nav>
	</div>
</div>
{/block}