{block title}
Rezervace
{/block}
{block header}
						<li><a href="{plink Products:categories}">Kategorie</a></li>
                        <li><a href="{plink Products:}">Produkty</a></li>
						<li class="active"><a href="{plink Bookings:}">Rezervace</a></li>
                        <li><a href="{plink Sign:out}">Odhlásit</a></li>
{/block}

{block content}
<div class="container">
	<div class="row">
		<h1>Nová rezervace</h1>
		{control bookingForm}
	</div>
</div>
{/block}