{block header}
<li class="active"><a href="{plink Homepage:}">Domů</a></li>
<li><a href="{plink Sign:in}">Přihlásit</a></li>
<li><a href="{plink Register:}">Registrovat</a></li>
{/block}
{block content}

{/block}

{block scripts}
{include parent}

{/block}


{block head}

{/block}
