<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}Café</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/custom.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bower_components/toastr/toastr.min.css" />
	<link rel="stylesheet" href="{$basePath}/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
	<script src="{$basePath}/bower_components/respond-minmax/dest/respond.min.js"></script>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>
	<div class="row">
	    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
			 <a class="navbar-brand visible-xs" href="#">{ifset #title}{include title|striptags}{/ifset}</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse"> 
		    <ul class="nav navbar-nav">
				{if $user->loggedIn}
					{if $user->isInRole('manager')}
					<li n:class="$presenter->isLinkCurrent('Dashboard:*') ? active, navbar-left"><a href="{plink Dashboard:}">Dashboard</a></li>
					{/if}
					{if !$user->isInRole('employee')}
					<li n:class="$presenter->isLinkCurrent('Categories:*') ? active, $presenter->isLinkCurrent('Products:default') && !empty($presenter->getParameter('cat')) ? active, dropdown, navbar-left">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kategorie<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{plink Categories:}">Všechny kategorie</a></li>
							<li class="divider"></li>
							{foreach $categories as $category}
							<li n:class="$presenter->isLinkCurrent('Products:default', $category->id)"><a n:href="Products:default $category->id">{$category->name}</a></li>
							{/foreach}
						</ul>
					</li>
					<li n:class="$presenter->isLinkCurrent('Products:default', NULL) ? active, $presenter->isLinkCurrent('Products:add') ? active, $presenter->isLinkCurrent('Products:product') ? active, $presenter->isLinkCurrent('Products:edit') ? active, navbar-left"><a href="{plink Products:}">Produkty</a></li>
					{/if}
					<li n:class="$presenter->isLinkCurrent('Orders:*') ? active, navbar-left"><a href="{plink Orders:}">Objednávky</a></li>
					<li n:class="$presenter->isLinkCurrent('Bookings:*') ? active, navbar-left"><a href="{plink Bookings:}">Rezervace</a></li>
					{if !$user->isInRole('customer')}<li n:class="$presenter->isLinkCurrent('People:*') ? active, navbar-left"><a href="{plink People:}">Uživatelé</a></li>{/if}
					{if $user->isInRole('manager')}<li n:class="$presenter->isLinkCurrent('Desks:*') ? active, navbar-left"><a n:href="Desks:">Stoly</a></li>{/if}
					<li class="navbar-right"></li>
					<li class="navbar-right"><a href="{plink Sign:out}">Odhlásit</a></li>
				{else}
					<li n:class="$presenter->isLinkCurrent('Homepage:*') ? active, navbar-left"><a href="{plink Homepage:}">Domů</a></li>
					<li n:class="$presenter->isLinkCurrent('Sign:*') ? active, navbar-left"><a href="{plink Sign:in}">Přihlásit</a></li>
					<li n:class="$presenter->isLinkCurrent('Register:*') ? active, navbar-left"><a href="{plink Register:}">Registrovat</a></li>	
				{/if}
		    </ul>
		</div>
	    </nav>
	</div>
{include #content|indent:1}
<div class="container">
	{if $user->isLoggedIn()}
	<div class="row">
		<button onclick="history.go(-1);" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Zpět</button>
	</div>
	{/if}
</div>
	<div class="container">
		<footer class="row">
			<p><small>&copy;2015 <a href="mailto:xobrtlik@mendelu.cz">Pavel Obrtlík</a> &bull; Všechna práva vyhrazena </small></p>
			<p><small>Vytvořeno v <a href="http://nette.org">Nette Frameworku</a> a <a href="http://getbootstrap.com">Bootstrapu</a></small></p>
			<p><small>Zdrojové kódy dostupné <a href="https://github.com/ijames07/repo">zde</a></small></p>
		</footer>
	</div>

<!-- javascript -->
	<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
    <script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{$basePath}/bower_components/moment/min/moment.min.js"></script>
	<script src="{$basePath}/bower_components/moment/locale/cs.js"></script>
	<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{$basePath}/bower_components/toastr/toastr.min.js"></script>
	{if !empty($flashes)}
		<script>
		{foreach $flashes as $flash}
			{if $flash->type == 'info'}
				toastr.info({$flash->message});
			{elseif $flash->type == 'success'}
				toastr.success({$flash->message});
			{elseif $flash->type == 'error'}
				toastr.error({$flash->message});
			{else}
				toastr.warning({$flash->message});
			{/if}
		{/foreach}
	</script>
	{/if}
	{ifset #script}{include script}{/ifset}
</body>
</html>
