<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}Cat café</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/s/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/s/bootstrap/dist/css/bootstrap-theme.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/custom.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/s/toastr/toastr.min.css" />
	<link rel="stylesheet" href="{$basePath}/s/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
	<script src="{$basePath}/s/respond-minmax/dest/respond.min.js"></script>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>
	<div class="row">
	    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		</div>
		<div class="collapse navbar-collapse" id="collapse">
		    <ul class="nav navbar-nav">
				{if $user->loggedIn}
					<li n:class="$presenter->isLinkCurrent('Categories:*') ? active, navbar-left"><a href="{plink Products:categories}">Kategorie</a></li>
					<li n:class="$presenter->isLinkCurrent('Products:*') ? active, navbar-left"><a href="{plink Products:}">Produkty</a></li>
					<li n:class="$presenter->isLinkCurrent('Orders:*') ? active, navbar-left"><a href="{plink Orders:}">Objednávky</a></li>
					<li n:class="$presenter->isLinkCurrent('Bookings:*') ? active, navbar-left"><a href="{plink Bookings:}">Rezervace</a></li>
					<li class="navbar-right"><a href="{plink Sign:out}">Odhlásit</a></li>
				{else}
					<li n:class="$presenter->isLinkCurrent('Homepage:*') ? active, navbar-left"><a href="{plink Homepage:}">Domů</a></li>
					<li n:class="$presenter->isLinkCurrent('Sign:*') ? active, navbar-left"><a href="{plink Sign:in}">Přihlásit</a></li>
					<li n:class="$presenter->isLinkCurrent('Register:*') ? active, navbar-left"><a href="{plink Register:}">Registrovat</a></li>	
				{/if}
		    </ul>
		</div>
	    </nav>
	</div>
{include #content|indent:1}
	<div class="container">
		<footer class="row">
			<p><small>&copy;2015 <a href="mailto:xobrtlik@mendelu.cz">Pavel Obrtlík</a> &bull; Všechna práva vyhrazena </small></p>
			<p><small>Vytvořeno v <a href="http://nette.org">Nette Frameworku</a> a <a href="http://getbootstrap.com">Bootstrapu</a></small></p>
			<p><small>Zdrojové kódy dostupné <a href="https://github.com/ijames07/repo">zde</a></small></p>
		</footer>
	</div>

<!-- javascript -->
    <script src="{$basePath}/s/jquery/dist/jquery.min.js"></script>
	<script src="{$basePath}/s/moment/min/moment.min.js"></script>
	<script src="{$basePath}/s/moment/locale/cs.js"></script>
	<script src="{$basePath}/s/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/custom.js"></script>
	<script src="{$basePath}/s/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{$basePath}/s/toastr/toastr.min.js"></script>
	{if !empty($flashes)}
		<script>
		{foreach $flashes as $flash}
			{if $flash->type == 'info'}
				toastr.info({$flash->message});
			{elseif $flash->type == 'success'}
				toastr.success({$flash->message});
			{elseif $flash->type == 'error'}
				toastr.error({$flash->message});
			{else}
				toastr.warning({$flash->message});
			{/if}
		{/foreach}
	</script>
	{/if}
		<script type="text/javascript">
	    $(function () {
		$('#frm-bookingForm-date').datetimepicker({
					locale: 'cs',
					format: 'dddd[,] D. MMMM YYYY [v] H [Hodin]',
					sideBySide: true,
					minDate: new Date(new Date().getTime() + (60 - new Date().getMinutes()) * 1000 * 60),
					daysOfWeekDisabled: [0]
				});
				$('#frm-bookingForm-date').on('dp.change', function(data) {
					refresh(data.timeStamp);
				});
	    });
	</script>
</body>
</html>
