{layout '@layout.latte'}
{block title}
{ifset $title}{$title}{/ifset}
{/block}
{block header}
<li class="navbar-left"><a href="{plink Products:categories}">Kategorie</a></li>
<li class="navbar-left"><a href="{plink Products:}">Produkty</a></li>
<li class="navbar-left"><a href="{plink Orders:}">Objednávky</a></li>
<li class="navbar-left"><a href="{plink Bookings:}">Rezervace</a></li>
<li class="navbar-right"><a href="{plink Sign:out}">Odhlásit</a></li>
{/block}